/*タイピングゲーム全体*/
body {
  max-width: 900x;
  max-height: 500px;
  font-size: 6em;
  text-align: center;
}

/*ゲームの残り秒数が表示されるタイマーの領域*/
.count {
  margin: 0;
  font-weight: bold;
  color: #7d6aa6;
}

/*テキストが表示される領域*/
.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #3daa97;
  font-weight: bold;
  color: #bdd0da;
}
.mean {
  font-weight: bold;
  font-size: 60px;
  color: #7d6aa6;
}

/*正しくタイプされた場合のテキスト*/
.typed {
  color: #275365;
}

/*ミスタイプの場合の背景*/
.mistyped {
  background-color: #eabcc6;
}

/*画像のスタイル*/
#image {
  width: 200px;
  height: 400px;
  margin: 0px auto;
  padding: auto;
  display: none;

}
